@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box; /* paddiing or border does not affect width */
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex; /* center everything with flexbox & displays in a row */
    align-items: center;  /* center horisontally */
    justify-content: center;    /* center it vertically */
    height: 100vh;
    overflow: hidden; /* no scroll bars showed */  
    margin: 0;
    background-color: #f7d6e0;
}

.card-container{
    display: flex;
    width: 90vw; /* viewport width */
}

.panel{
    background-size: auto 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 13px;
    color: white;
    flex: 0.5;
    margin: 2px;
    position: relative; /* so the h3 can be absolute*/
    transition: flex 0.3s ease-in 0.4s;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 4;
    box-shadow: 5px 10px #888888;
}

.panel.active h3{
    opacity: 1;
}

@media (max-width: 480px){

    .card-container{
        width: 100vw;
    }

    /*hide panels 5,6, & 7 on smaller screens*/
    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7){
        display: none;
    }
}





